.banner {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: url(../assets/img/banner.png);
    background-color: #4184b9;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: center center;
    background-repeat: repeat, no-repeat;
    z-index: -1;
}
